/* site */
/* header */

header .row .large-12 .logoarea {
    background: url(cssimg/bg_top.jpg);
    background-size: cover;
    text-align: center;
}


header .row .large-12 span {
    color: #fff;
    font-family: Georgia;
    font-size: 2.3rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 1.7rem;
}



/* mainbody */
h1 {
  font-size: 1.75rem; 
  font-weight: bold;
}

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.2rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

p {
  margin-bottom: 0.5rem;
}

.side-nav a {
    text-decoration: none;
}
/* footer */
footer {
    text-align: center;
}
footer .large-12 {
    border-top: 1px solid #bbb;
    padding: 1.5em 0;
}

footer .large-12 p {
    font-size: 1.3em;
}

body {
    background-color: #eee;
}

.row {
    background-color: #fff;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

main .row {
    padding-top: 2em;
}

main a[href$='.pdf'], main a[href$='.doc'], main a[href$='.docx'] {
    padding: 2px 0 2px 25px;
    display: inline-block;
}

main  a[href$='.pdf'] {
    background: url(cssimg/icon_16x16_pdf.png) transparent 0 7px no-repeat;
}

main a[href$='.doc'], main a[href$='.docx'] {
    background: url(cssimg/icon_16x16_word.png) transparent 0 7px no-repeat;
}

@media only screen and (max-width: 768px) {
    header .row .large-12 span {
        color: #fff;
        font-family: Georgia;
        font-size: 1.9rem;
        font-weight: bold;
        text-decoration: none;
        display: block;
        padding: 1.7rem;
    }
}

@media print {

    html,
    body {
        font-size: 80%;
    }

    #globalNavigation {
		display: none;
	}
	
	.row {
		border: 0px;
	}
}